name: Rust

on:
  push:
    branches: [main, develop, feature/**]
  pull_request:
    branches: [main, develop, feature/**]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: moonrepo/setup-rust@v1
        with:
          cache-base: (main|develop)
          components: rustfmt, clippy
        env:
          GITHUB_TOKEN: ${{ github.token}}

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
